body {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1fr) minmax(320px, 1fr) minmax(320px, 1fr) 1fr;
    grid-template-rows: 30vh 5vh 1fr;
    background-color: #f7f7fa;
    font-family: "Segoe UI", "Helvetica Neue";
    height: 100%;
}

header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: span 1;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px 0;
}

input,
select {
    border: none;
    background-color: #fff;
    resize: none;
    outline: none;
    height: 2rem;
}

.chart {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 1;
    margin: 20px auto;
    background-color: #fff;
    width: 80%;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.runs {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: span 1;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.each-run {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.date {
    background-color: rgba(255, 78, 3, .5);
    width: 100%;
    padding-left: 95px;
}

.run-title {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 100%;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: bold;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.distance-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    padding: 0 5px;
}

.distance {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.duration-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    padding: 0 5px;
}

.duration {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.pace-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    padding: 0 5px;
}

.pace {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.run-type-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.run-type {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

label {
    text-align: left;
    font-size: .5rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.delete {
    float: right;
    margin-right: 10px;
    color: #000;
}

.button {
    background-color: rgba(255, 78, 3, 1);
    padding: 6px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit,
.update {
    margin-bottom: 4px;
}

.button:hover,
.button:focus {
    background-color: rgba(255, 78, 3, 0.5);
}


/* Modal Styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 70vw;
    height: 50vh;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.close-btn {
    color: #ccc;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
}

.close-btn:hover,
.close-btn:focus,
.delete:hover,
.delete:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr minmax(320px, 1fr) 1fr;
        grid-template-rows: 200px 50px 1fr 1fr;
    }
    header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    nav {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .chart {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: span 1;
    }
    .runs {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: span 1;
    }
}